<p>Dear {{ user.username }},</p>
<p>
    To verify
    <a href="{{ url_for('auth.validate_auth', token=token, _external=True) }}">
        click here
    </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.validate_auth', token=token, _external=True) }}</p>
<p>Sincerely,</p>
<p>The Skilled grads Team</p>
