{% extends "base.html" %}

{%  block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <style>
        .container {
            position: relative;
            text-align: center;
        }
        .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
    </style>
{% endblock %}

{% block app_content %}
    <h1>{{ _('Select Candidates') }} </h1>
    <p>{{ event.name }}</p>
    <div class="carousel container" data-flickity='{ "groupCells": true }'>
        {%  for student in students %}
            {{ student.id }}
            <div class="carousel-cell">
                <img src="https://img.cinemablend.com/filter:scale/cb/1/3/8/d/8/9/138d89e658fd8f95a44c53ca496e4924d5228f041f00608ad277057ac114e217.jpg?mw=600"/>
                <div class="centered">
                    <button id="book-now" event_id={{event.id}} student_id={{student.id}}>Book Now</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script>
    $('#book-now').click((e)=> {
        var event_id = e.target.getAttribute('event_id');
        var student_id = e.target.getAttribute('student_id');
        console.log({event_id: event_id, student_id: student_id});
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '{{ url_for('events.book_student') }}',
            data: JSON.stringify({event_id: event_id, student_id: student_id}),
            success: function (data) {
                console.log(data)
            },
            error: function(err) {
                console.log(err);
            },
            dataType: "json"
        });
    })
    </script>
{% endblock %}